checkpoints/
logs/
wandb/
dataset/
*/__pycache__/
.vscode/
*/ipynb_checkpoints
panocontext
panobasic
*/.DS_Store
panoContext_code
docs/
__pycache__/
runs/

utils/__pycache__/__init__.cpython-312.pyc
*.pt
*.pyc
*.db

