checkpoints/
logs/
wandb/
dataset/
grounding-dino-base/
steervit_dinov2_base.pth
*.pth
*.safetensors
*/__pycache__/
.vscode/
*/ipynb_checkpoints
panocontext
panobasic
*/.DS_Store
panoContext_code
docs/
__pycache__/
runs/

utils/__pycache__/__init__.cpython-312.pyc
*.pt
*.pyc
*.db
