absl-py
addict

annotated-doc
annotated-types
anyio
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
boltons
Brotli
certifi
cffi
charset-normalizer
click
comm
ConfigArgParse
contourpy
cryptography
cycler
dash
debugpy
decorator
defusedxml
distro
executing
fastjsonschema
filelock
Flask
fonttools
fqdn
fsspec
ftfy
grpcio
h11
h5py
hf-xet
httpcore
httpx
huggingface_hub
idna
importlib_metadata
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-language-pack-zh-CN
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
kmeans-pytorch




matplotlib
matplotlib-inline
mdurl

mistune
mpmath
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook_shim
numpy

open3d
openai
opencv-python
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow

platformdirs
plotly
pluggy
pooch
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval

pycparser
pydantic
pydantic_core
Pygments
pyparsing
pyquaternion
PySocks
python-dateutil
python-json-logger
PyYAML
pyzmq
referencing
regex
requests
retrying
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruamel.yaml
safetensors
scikit-learn
scipy
Send2Trash
sentence-transformers

shapely
shellingham
six
sniffio
soupsieve
stack-data
supervisor
sympy
tensorboard
tensorboard-data-server
terminado
threadpoolctl
timm
tinycss2
tokenizers


tornado
tqdm
traitlets
transformers
truststore
typer
typer-slim
types-python-dateutil
typing_extensions
typing-inspection
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug

widgetsnbextension
zipp
zstandard
